.arrows-nav {
  display: none;
  font-size: 0;
  line-height: 0;
}

@media #{$desktop-width} {
  .arrows-nav {
    display: block;
  }

  .arrows-nav__arrow {
    width: 21px;
    height: 21px;
    margin: 0;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none;
    opacity: 0.3;
  
    &--left {
      @include bg('icons/arrow_right');
      transform: scale(-1, 1);
    }
  
    &--right {
      @include bg('icons/arrow_right');
      margin-left: 5px;
    }
  
    &--active {
      opacity: 1;
    }
  
    &:disabled{
      cursor: not-allowed;
    }
  }
}
