.content__head {
  position: relative;
}

.content__headline {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #333333;
}

.content__line {
  margin: 0 20px;
}

.content__arrows-nav {
  display: none;
}

@media #{$desktop-width} {
  .content__arrows-nav {
    position: absolute;
    display: block;
    bottom: -5px;
    right: 35px;
  }
}