.controller {
  padding-top: 21px;
  padding-bottom: 25px;
  background-color: #ffffff;
  color: #333333;
  border-radius: 20px;
}

.controller__line {
  margin-right: 20px;
  margin-left: 20px;
}

.controller__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #333333;
}

.controller__state {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}

.controller__bar {
  height: 336px;
  width: 60px;
  margin: 0 auto;
}

.controller__termometr {
  margin: 0 auto;
  margin-top: 103px;
  margin-bottom: 83px;
}

.controller__elementnav {
  height: 30px;
  padding-top: 15px;
  margin-bottom: 25px;
}

.controller__places-list {
  padding-left: 10px;
}

.controller__places-item {
  height: 30px;
  margin-left: 10px;
}

.controller__only-desktop {
  display: none;
}

@media #{$desktop-width} {
  .controller {
    padding-top: 26px;
  }

  .controller__only-desktop {
    display: block;
  }

  .controller__title {
    font-size: 27px;
    line-height: 31px;
  }

  .controller__line {
    margin-right: 25px;
    margin-left: 25px;
  }

  .controller__temp-info {
    position: relative;
    padding-right: 110px;
  }

  .controller__bar {
    height: 60px;
    width: 580px;
    margin: 0 auto;
  }

  .controller__weather {
    position: absolute;
    top: 0px;
    right: 0;
  }

  .controller__weather-info {
    padding-right: 42px;
  }

  .controller__weather-icon {
    margin-top: -22px;
    width: 42px;
    height: 42px;
    background-size: 42px 42px;
  }

  .controller__state {
    font-size: 14px;
    line-height: 16px;
  }

  .controller__elementnav {
    height: 36px;
    padding-top: 17px;
    margin-bottom: 22px;
  }

  .controller__places-list {
    padding-top: 3px;
    padding-left: 15px;
  }

  .controller__termometr {
    margin: 0 auto;
    margin-top: 20px;
  }
  
}
