
.content__nav {
  position: relative;
  width: 70px;
  height: 30px;
  z-index: 1000;
}

.content__headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
  &--general {
    display: none;
  }
}

.content__line {
  padding: 0 20px;
}

.content__arrows-nav {
  display: none;
}

.content__scripts-elementnav {
  height: 100px;
}

@media #{$desktop-width} {
  .content__headline {
    justify-content: flex-start;
    align-content: center;
  }

  .content__nav {
    width: auto;
    height: auto;
    margin-left: 13px;
  }
  
  .content__line {
    padding: 0;

    &--general {
      padding-left: 40px;
    }

    &--scripts {
      padding-left: 26px;
      padding-right: 40px;
    }

    &--devices {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .content__devices-elementnav {
    height: 126px;
  }

  .content__scripts-elementnav {
    height: 282px;
  }
  
  .content__arrows-nav {
    margin-left: auto;
  }
}
