
.devices__headline {
  margin-right: 70px;
}

.devices__list {
  padding-left: 5px;
}

@media #{$desktop-width} {
  .devices__line {
    display: flex;
    align-items: center;
    min-height: 30px;
    margin-right: 40px;
    margin-left: 40px;
  }


  .devices__list {
    padding-left: 25px;

    &::after {
      flex: 0 0 40px;
    }
  }
}
