.devices {
  position: relative;
}

.devices__nav {
  position: absolute;
  z-index: 100;
  top: -6px;
  right: 20px;
  width: 70px;
}

.devices__headline {
  margin-right: 70px;
}

.devices__list {
  padding-left: 5px;
}

@media #{$desktop-width} {
  .devices__line {
    display: flex;
    align-items: center;
    min-height: 30px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .devices__toggle {
    display: none;
  }

  .devices__nav {
    position: static;
    width: auto;
  }

  .device__arrows {
    position: relative;
    top: 5px;
    left: 5px;
    margin-left: auto;
  }

  .devices__headline {
    margin: 0;
    margin-right: 13px;
  }  


  .devices__list {
    padding-left: 25px;

    &::after {
      flex: 0 0 40px;
    }
  }
}
