.device-bar {
  position: relative;
  width: 60px;
  height: 336px;
  overflow: hidden;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  background-color: #ffb100;
  border-radius: 35px;

  &::after {
    content: ' ';
    position: absolute;
  }

  &::before {
    content: ' ';
    position: absolute;
  }


  &--light {
    background: linear-gradient(to bottom, #ffb100, #ffe88c);

    &::after {
      top: 13px;
      left: 12px;
      width: 36px;
      height: 36px;
      background-image: url('../img/icon_sun_max@1x.png');
      background-image: url('../img/icon_sun_max.svg');
      background-repeat: no-repeat;

      @media #{$retina} {
        background-image: url('../img/icon_sun_max@2x.png');
        background-image: url('../img/icon_sun_max.svg');
      }
    }

    &::before {
      bottom: 13px;
      left: 12px;
      width: 36px;
      height: 36px;
      background-image: url('../img/icon_sun_min@1x.png');
      background-image: url('../img/icon_sun_min.svg');
      background-repeat: no-repeat;

      @media #{$retina} {
        background-image: url('../img/icon_sun_min@2x.png');
        background-image: url('../img/icon_sun_min.svg');
      }
    }
  }

  &--temp {
    background: linear-gradient(#F76B1C 0%, #FFD800 50%, #068FFF 100%);

    &::after {
      content: '+30';
      top: 17px;
      left: 15px;
    }

    &::before {
      content: '–10';
      bottom: 13px;
      left: 15px;
    }
  }
}

.device-bar__track {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  
  border: 3px solid rgba(51,51,51,0.10);
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff,
}

@media #{$desktop-width} {
  .device-bar {
    width: 580px;
    height: 60px;

    &--light {
      background: linear-gradient(to left, #ffb100, #ffe88c);

      &::after {
        right: 20px;
        left: unset;
      }
  
      &::before {
        top: 12px;
        bottom: unset;
      }
    }

    &--temp {
      background: linear-gradient(to left, #F76B1C 0%, #FFD800 50%, #068FFF 100%);
  
      &::after {
        content: '+30';
        top: 21px;
        right: 20px;
        left: unset;
      }
  
      &::before {
        content: '–10';
        top: 21px;
        bottom: unset;
        left: 20px;
      }
    }
  }

  .device-bar__track {
    top: 0!important;
  }
}

@media #{$mobile-width-only} {
  .device-bar__track {
    left: 0!important;
  }
}