.element-list {
  @include reset-list();
  display: flex;
  flex-flow: row nowrap;
  padding-top: 20px;
  overflow-x: auto;

  &::after {
    content: "";
    flex: 0 0 20px;
  }
}

.element-list__item {
  flex: 0 0 170px;
  min-height: 70px;
  margin-left: 15px;
}