.element-list {
  @include reset-list();
  display: flex;
  flex-flow: row nowrap;
  padding-top: 20px;

  &::after {
    content: "";
    flex: 0 0 20px;
  }
}

.element-list__item {
  flex: 0 0 auto;
}