.featured-nav__list {
  @include reset-list();
  position: absolute;
  top: 32px;
  right: 0;
  display: none;
  background-color: #f2f1f0;
  border-radius: 20px;
  color: #333333;
}

.featured-nav__item .button {
  width: 100%;
}

.featured-nav__item:last-of-type {
  border-bottom: none;
}

.featured-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 700;
  padding-right: 30px;
}

.featured-nav__arrow {
  position: absolute;
  top: 10px;
  right: 16px;
  width: 7px;
  height: 11px;
  @include bg('icons/arrow_right');
  background-size: 100% 100%;
  transform: rotate(90deg);
}

.featured-nav--opened .featured-nav__list  {
  display: block;
}

.featured-nav--opened .featured-nav__arrow {
  transform: rotate(270deg);
  animation-name: featured-nav__arrow-down;
  animation-duration: 0.1s; 
  animation-timing-function: linear; 
}

.featured-nav--closed .featured-nav__arrow {
  transform: rotate(90deg);
  animation-name: featured-nav__arrow-up;
  animation-duration: 0.1s; 
  animation-timing-function: linear; 
}

@keyframes featured-nav__arrow-down { 
  0% {transform:rotate(90deg);} 
  100% {transform:rotate(270deg);} 
}

@keyframes featured-nav__arrow-up { 
  0% {transform:rotate(270deg);} 
  100% {transform:rotate(90deg);} 
}

@media #{$desktop-width} {
  .featured-nav__toggle {
    display: none;
  }

  .featured-nav__list {
    position: static;
    display: flex;
    background-color: transparent;
    border: none;
    border-radius: unset;
    width: auto;
  }

  .featured-nav__item {
    margin-right: 8px;
  }

  .featured-nav__item--active .button{
    border-radius: 20px;
    background-color: #ffd93e;
  }

  .featured-nav__item {
    border: none;
  }
}
