.featured-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90px;
  padding: 15px;
  background: #F7F7F7;
  border-radius: 20px;
}

.featured-item__icon {
  width: 22px;
}

.featured-item__info {

}

.featured-item__name {
  margin: 0;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #333333;
  letter-spacing: 0;
}

.featured-item__state {
  margin: 0;
  font-size: 12px;
  color: #858585;
  letter-spacing: 0.01px;
}