.footer {
  display: none;
}

@media #{$desktop-width} {
  .footer {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 40px 10px 34px;

    padding: 10px 0;
    font-size: 12px;
    line-height: 14px;
    color: #858585;
    background-color: #ffffff;
  }

  .footer__nav {
    margin-left: 34px;
  }

  .footer__menu-list {
    @include reset-list();
  }
  
  .footer__menu-item {
    display: inline-block;
  }

  .footer__menu-item a {
    display: block;
    padding: 6px 6px 20px 6px;
    font-weight: 500;
    color: #858585;
    text-decoration: none;

    &:hover,
    &:active {
      color: #333333;
    }
  }

  .footer__copyright {
    margin: 0;
    margin-right: 40px;
    padding-top: 6px;
  }
}