.footer {
  display: none;
}

@media #{$desktop-width} {
  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 24px;
    padding-left: 34px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 14px;
    color: #858585;
    background-color: #ffffff;
  }

  .footer__menu-list {
    @include reset-list();
  }
  
  .footer__menu-item {
    display: inline-block;
  }

  .footer__menu-item a {
    display: block;
    padding: 6px 6px 6px 6px;
    font-weight: 500;
    color: #858585;
    text-decoration: none;

    &:hover,
    &:active {
      color: #333333;
    }
  }

  .footer__copyright {
    margin: 0;
    padding-top: 6px;
  }
}
