.general__content {
  padding-top: 22px;
  padding-bottom: 20px;
  color: #000000;
  background-image: url('../img/bg@1x.png');
  background-position: center center;
  background-color: #f0efeb;
  background-size: cover;
  border-radius: 20px;

  @media #{$retina} {
    background-image: url('../img/bg@2x.png');
  }
}

.general__headline {
  display: none;
}

.general__greeting {
  margin: 0;
  margin-bottom: 5px;
}

.general__condition {
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 14px
}

.general__weather {
  display: flex;
}

.general__weather-item {
  margin-right: 20px;
}

.general__line {
  padding-right: 20px;
  padding-left: 20px;
}

@media #{$desktop-width} {
  .general__content {
    display: flex;
    padding: 0;
  }

  .general__greeting {
    margin-top: 27px;
    font-size: 27px;
    line-height: 31px;
  }

  .general__line {
    padding-left: 25px;
    padding-right: 25px;
  }

  .general__condition {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 16px;
  }

  .general__info {
    flex: 1 0 400px;
  }

  .general__weather-item {
    margin-right: 20px;
  }

  .general__headline {
    margin-bottom: 18px;
    display: block;
  }
}