.header {
  position: relative;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  align-items: center;
  display: flex;
}

.header__logo {
  display: inline-block;
  width: 109px;
  height: 37px;
  outline: none;
  @include bg('yandex_home');
  background-size: 109px 37px;
}

.header__nav {
  margin-left: auto;
}

.header__list-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
}

.header__nav--opened .header__list-menu {
  display: block;
}

.header__burger {
  position: relative;
  z-index: 1000;
  
  width: 26px;
  height: 24px;
  padding: 0;
  @include bg('icon_list_m');
  background-size: 16px 14px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media #{$desktop-width} {
  .header {
    display: flex;
    margin-bottom: 30px;
    padding-top: 26px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    border-bottom: solid 1px #f0f0f0;
  }

  .header__nav {
    margin-left: 50px;
  }

  .header__burger {
    display: none;
  }

  .header__list-menu {
    display: block;  
  }

  .header__logo {
    width: 110px;
    height: 36px;
    background-size: 110px 36px;
  }

  .header__logo {
    &:focus {
      outline: #ffd93e dotted 1px;
    }
  }

  .header__list-menu {
    position: static;
  }

  .header__nav-toggle {
    display: none;
  }
}
