.header {
  position: relative;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.header__logo {
  display: inline-block;
  width: 109px;
  height: 37px;
  outline: none;
  @include bg('yandex_home');
  background-size: 109px 37px;
}

.header__nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.header__nav-toggle {
  position: absolute;
  top: 20px;
  right: 15px;
}

@media #{$desktop-width} {
  .header {
    display: flex;
    margin-bottom: 30px;
    padding-top: 26px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    border-bottom: solid 1px #f0f0f0;
  }

  .header__logo {
    width: 110px;
    height: 36px;
    background-size: 110px 36px;
  }

  .header__logo {
    &:focus {
      outline: #ffd93e dotted 1px;
    }
  }

  .header__nav {
    position: static;
    display: block;
    margin-left: 50px;
  }

  .header__nav-toggle {
    display: none;
  }
}
