.main-nav {
  position: relative;
}

.main-nav__list {
  @include reset-list();
  position: absolute;
  left: 0;
  right: 0;
  display: none;
}

.main-nav__list-item {
  display: block;
  background-color: #ffffff;
  border-bottom: 1px solid #333333;
  border-bottom-color: rgba(51, 51, 51, 0.1);
}

.main-nav__list-item a {
  display: block;
  padding: 20px 21px 16px 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
}

.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: 10px;
  display: block;
  padding: 10px;  
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.main-nav__burger {
  display: block;
  width: 16px;
  height: 14px;
  @include bg('icon_list_m');
  background-size: 100% 100%;
}

.main-nav--opened .main-nav__list  {
  display: block;
}


@media #{$desktop-width} {
  .main-nav {
    position: static;
  }

  .main-nav__list {
    position: static;
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__list-item  {
    margin-right: 28px;
    background-color: transparent;
    border: none;
  }

  .main-nav__list-item a {
    display: block;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.6;

    &:hover,
    &:active {
      opacity: 1;
    }
  }

  .main-nav__list-item--active a {
    opacity: 1;
  }
  
  .main-nav__toggle {
    display: none;
  }
}