.main-nav {
  position: relative;
}

.main-nav__list {
  @include reset-list();
  position: absolute;
  left: 0;
  right: 0;
  display: none;
}

.main-nav__list-item a {
  display: block;
  padding: 20px 21px 16px 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
  background-color: #ffffff;
  border-bottom: 1px solid #333333;
  border-bottom-color: rgba(51, 51, 51, 0.1);
}

.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: 9px;
  display: block;
  padding: 10px;  
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.main-nav__burger {
  display: block;
  width: 16px;
  height: 14px;
  background-image: url('../img/icon_list_me@1x.png');
  background-image: url('../img/icon_list_m.svg');
  background-size: 100% 100%;

  @media #{$retina} {
    background-image: url('../img/icon_list_m@2x.png');
    background-image: url('../img/icon_list_m.svg');
  }
}

.main-nav--opened .main-nav__list  {
  display: block;
}
