.nav__list {
  @include reset-list();
  display: none;
}

@media #{$mobile-width-only} {
  .nav--opened .nav__list {
    display: block;
  }
}

@media #{$desktop-width} {
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
  }
}