.page {
  height: 100%;
    overflow: visible!important;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333; 
  overflow: hidden;
}

.page__general,
.page__scripts,
.page__devices {
  margin-bottom: 30px;
}

.page__general {
  margin-right: 20px;
  margin-left: 20px;
}

.page__content {
  height: 100vh;

    &--no-scroll {
      overflow: hidden;
    }
  
    &--blured {
      animation-fill-mode: forwards;
      animation-name: page__blur;
      animation-duration: .3s; 
      animation-timing-function: linear; 
    }
}


@supports (-webkit-overflow-scrolling: touch) {
  .page {
    -webkit-overflow-scrolling: touch;
  }

  .page__content {
    height: auto;
  }
}

@media #{$desktop-width} {
  .page__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1300;
  }

  .page__general,
  .page__scripts,
  .page__devices {
    margin: 0;
  }

  .page__devices {
    margin-bottom: 60px;
  }

  .page__row {
    display: flex;
    flex-flow: row nowrap;
    min-width: 1288px;
    margin-bottom: 18px;
    flex-shrink: 0;
  }

  .page__general {
    flex: 0 0 630px;
    flex-grow: 1;
    margin: 0;
    margin-left: 40px;
  }

  .page__scripts {
    max-width: 696px;
    margin: 0;
  }
}

@keyframes page__blur { 
  0% {
    filter: blur(0) saturate(1);
  } 
  100% {
    filter: blur(5px) saturate(2);
  } 
}
