.page {
  height: 100vh;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333; 
  overflow: hidden;
}

.page__headline-nav {
  position: relative;
}

.page__headline {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #333333;
}

.page__headline-general {
  display: none;
}

.page__general,
.page__scripts,
.page__devices {
  margin-bottom: 30px;
}

.page__general {
  margin-right: 20px;
  margin-left: 20px;
}

.page__line {
  margin: 0 20px;
}

.page__arrows-nav {
  display: none;
}

.page__content {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-flow: column;


    &--no-scroll {
      overflow: hidden;
    }
  
    &--blured {
      filter: blur(5px) saturate(2);
      animation-name: page__blur;
      animation-duration: 0.3s; 
      animation-timing-function: linear; 
    }
}

.page__overflow-container {
  overflow-x: auto;
  scroll-behavior: smooth;
}

@supports (-webkit-overflow-scrolling: touch) {
  .page {
    -webkit-overflow-scrolling: touch;
  }

  .page__content {
    height: auto;
  }
}

@media #{$desktop-width} {
  .page__line {
    margin: 0;
  }

  .page__content {
    min-height: 755px;
  }

  .page__general,
  .page__scripts,
  .page__devices {
    margin: 0;
  }

  .page__devices {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 60px;
  }

  .page__row {
    display: flex;
    flex-flow: row nowrap;
    min-width: 1288px;
    margin-bottom: 18px;
  }

  .page__general {
    flex: 0 0 630px;
    flex-grow: 1;
    margin: 0;
    margin-left: 40px;
  }

  .page__scripts {
    flex: 0 0 696px;
    padding-left: 11px;
    margin: 0;
  }

  .page__headline-general {
    margin-bottom: 18px;
    display: block;
  }

  .page__arrows-nav {
    position: absolute;
    display: block;
    bottom: -5px;
    right: -5px;
  }
}

@keyframes page__blur { 
  0% {
    filter: blur(0) saturate(1);
  } 
  100% {
    filter: blur(5px) saturate(2);
  } 
}
