.scripts__list-slider {
  @include reset-list();
  line-height: 0;
}

.scripts__slider {
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  padding-left: 5px;

  &::after {
    content: "";
    flex: 0 0 20px;
  }
}

@media #{$desktop-width} {
  .scripts__slider {
    overflow: hidden;
    height: 360px;
    padding-left: 11px;
  }

  .scripts__slider {
    &::after {
      display: none;
    }
  }

  .scripts__headline {
    margin-left: 26px;
    margin-right: 40px;
  }
}