.scripts__list-slider {
  @include reset-list();
  line-height: 0;
}

.scripts__list {
  padding-left: 5px;
}


@media #{$desktop-width} {
  .scripts__list {
    overflow: hidden;
    flex-flow: row wrap;
  }

  .scripts__list {
    padding-left: 10px;

    &::after {
      display: none;
    }
  }

  .scripts__list-item {
    margin-bottom: 15px;
  }

  .scripts__headline {
    margin-left: 26px;
  }
}