.scripts__list-slider {
  @include reset-list();
  line-height: 0;
}

.scripts__slider {
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;

  &::after {
    content: "";
    flex: 0 0 20px;
  }
}

@media #{$desktop-width} {
  .scripts__slider {
    overflow: hidden;
    height: 360px;
  }

  .scripts__list {
    flex-flow: row wrap;
    flex: 0 0 100%;
    overflow: hidden;
  }

  .scripts__slider {
    &::after {
      display: none;
    }
  }

  .scripts__list-item {
    margin-bottom: 15px;
    height: 70px;
  }

  .scripts__headline {
    margin-left: 15px;
    margin-right: 50px;
  }
}