.termometr{
  position: relative;
  width: 221px;
  height: 221px;
  color: #333333;
  background-color: #ffffff;
  background-image:  url('../img/oval@1x.png');
  background-image: url('../img/oval.svg');
  background-repeat: no-repeat;
} 

.termometr__svg {
  // position: absolute;

  width: 221px; height: 221px;
  transform: rotate(-90deg);
  background: transparent;
  border-radius: 50%;
  transform: rotate(60deg);
}

.termometr__circle {
  fill: none;
  stroke: white;
  stroke-width: 32;
  stroke-dasharray: 16.5 100;
}

.termometr__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 221px;
  height: 221px;
  @include bg('background');
  background-color: transparent;
  background-size: 186px;
  background-position: left 18px top 20px;
  background-repeat: no-repeat;
}

.termometr__arrow {
  position: absolute;
  top: 18px;
  left: 50%;
  width: 12px;
  height: 186px;
  margin-left: -6px;
  @include bg('icons/icon_arrow');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 12px 18px;
  transform: rotate(-360deg);
}

.termometr__value {
  position: absolute;
  top: 22px;
  left: 22px;
  display: block;
  box-sizing: border-box;
  width: 178px;
  height: 178px;
  overflow: auto;
  font-size: 66px;
  font-weight: 700;
  line-height: 178px;
  text-align: center;
}

.termometr__scale {
  width: 221px;
  height: 221px;
  background-image: url('../img/oval_copy@1x.png');
  background-image: url('../img/oval_copy.svg');
  background-repeat: no-repeat;
  background-position: bottom 15px right 3px;
  z-index: -1;
  border-radius: 50%;
  
  @media #{$retina} {
    background-image: url('../img/oval_copy@2x.png');
    background-image: url('../img/oval_copy.svg');
  }
}