.weather__place {
  margin: 0;
  margin-bottom: 5px;
  color: #858585;
  font-size: 12px;
  line-height: 14px;
}

.weather__info {
  position: relative;
  display: inline-block;
  margin: 0;
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  &--with-icon {
    padding-right: 25px;
  }
}

.weather__icon-cloud-drizzle {
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background-image: url('../img/cloud-drizzle@1x.png');
  background-image: url('../img/cloud-drizzle.svg');
  background-size: 20px 20px;

  @media #{$retina} {
    background-image: url('../img/cloud-drizzle@2x.png');
    background-image: url('../img/cloud-drizzle.svg');
  }
}

@media #{$desktop-width} {
  .weather__place {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 3px;
  }

  .weather__info {
    font-size: 36px;
    line-height: 42px;

    &--with-icon {
      padding-right: 30px;
    }
  }
  
  .weather__icon-cloud-drizzle {
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
    margin-top: -14px;
  }
}