.weather__place {
  margin: 0;
  margin-bottom: 5px;
  color: #858585;
  font-size: 12px;
  line-height: 14px;
}

.weather__info {
  position: relative;
  display: inline-block;
  height: 28px;
  margin: 0;
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  &--with-icon {
    padding-right: 25px;
  }

  &--only-icon {
    height: 22px;
    padding-right: 22px;
    line-height: 0;
  }
}

.weather__icon {
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background-size: 20px 20px;

  &--cloud-drizzle {
    @include bg('cloud-drizzle');
  }

  &--temperature {
    @include bg('icon_temperature');
  }

  &--temperature2 {
    @include bg('icon_temperature_2');
  }

  &--sun {
    @include bg('icon_sun');
  }

  &--sun2 {
    @include bg('icon_sun_2');
  }

  &--scheduled {
    @include bg('icon_scheduled');
  }

  &--only-icon {
    width: 22px;
    height: 22px;
    margin-top: -11px;
    background-size: 22px 22px;
  }
}

@media #{$desktop-width} {
  .weather__place {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 3px;
  }

  .weather__info {
    height: 42px;
    font-size: 36px;
    line-height: 42px;

    &--with-icon {
      padding-right: 30px;
    }

    &--only-icon {
      height: 22px;
      padding-right: 22px;
      line-height: 0;
    }
  }
  
  .weather__icon {
    width: 26px;
    height: 26px;
    margin-top: -14px;
    background-size: 26px 26px;
    
    &--only-icon {
      width: 22px;
      height: 22px;
      margin-top: -11px;
      background-size: 22px 22px;
    }
  }
}