mixin featured-stuff__item(items)
  ul
    each item in items
      li.featured-stuff__item
        -var name = item[0]
        -var state = item[1]
        p #{name}
        if state != '' 
          p #{state}