-var FLOOR = 'floor'
-var SUN = 'sun'
-var TEMP = 'temperature'

mixin modal(name = 'Xiaomi Yeelight LED Smart Bulb', type, state = 'Включится в 00:00')
  -var controllerClass = 'controller'
  if (type === FLOOR)
    -controllerClass += ' controller--floor'
  else if (type === SUN)
    -controllerClass += ' controller--sun'
  else if (type === TEMP)
    -controllerClass += ' controller--temperature'
  section(class='modal__content')#modal-content
    div(class='' + controllerClass + ' modal__line')#controller

      .controller__line
        .controller__temp-info
          h1.controller__title#controller__title #{name}
          
          .controller__only-desktop
            .weather.controller__weather
              p.weather__info.weather__info--with-icon.controller__weather-info 
                span#weather-info-temperature +23
                span.weather__icon.controller__weather-icon#weather-info-icon
          
          p.controller__state#controller__state #{state}

      .controller__temperature-block
        .elementnav.controller__elementnav
          .elementnav__wrapper
            ul.elementnav__list.controller__places-list
              li.elementnav__item.elementnav__item--controller.controller__places-item
                button.button.button--active Вручную
              li.elementnav__item.elementnav__item--controller.controller__places-item
                button.button Холодно
              li.elementnav__item.elementnav__item--controller.controller__places-item
                button.button Тепло
              li.elementnav__item.elementnav__item--controller.controller__places-item.controller__only-desktop
                button.button Жарко
        .input-range.controller__bar
          input.input-range__slider.input-range__slider--temp(type="range" id="switch-temp")

      .controller__sun-block
        .elementnav.controller__elementnav
          .elementnav__wrapper
            ul.elementnav__list.controller__places-list
              li.elementnav__item.elementnav__item--controller.controller__places-item 
                button.button.button--active Вручную
              li.elementnav__item.elementnav__item--controller.controller__places-item 
                button.button Дневной свет
              li.elementnav__item.elementnav__item--controller.controller__places-item 
                button.button Вечерний свет
              li.elementnav__item.elementnav__item--controller.controller__places-item.controller__only-desktop
                button.button Рассвет
                
        .input-range.controller__bar
          input.input-range__slider.input-range__slider--light(type="range" id="switch-light")

      .controller__floor-block
        .termometr.controller__termometr
          .termometr__scale
            svg(xmlns="http://www.w3.org/2000/svg" class="termometr__svg" viewBox="0 0 32 32")
              circle.termometr__circle(r="16" cx="16" cy="16")
          .termometr__bg
          b.termometr__value +23
          .termometr__arrow

    .modal__block-btn
      button.button.button--active.modal__btn.modal__btn--active#modal-accept Применить
      button.button.modal__btn#modal-close Закрыть
