-var FLOOR = 'floor'
-var SUN = 'sun'
-var TEMP = 'temperature'

mixin modal(name = 'Xiaomi Yeelight LED Smart Bulb', type, state = 'Включится в 00:00')
  -var controllerClass = 'controller'
  if (type === FLOOR)
    -controllerClass += ' controller--floor'
  else if (type === SUN)
    -controllerClass += ' controller--sun'
  else if (type === TEMP)
    -controllerClass += ' controller--temperature'
  section(class='modal__content')#modal-content
    div(class='' + controllerClass + ' modal__line')#controller

      .controller__line
        .controller__temp-info
          h1.controller__title#controller__title #{name}
          
          .controller__only-desktop
            .weather.controller__weather
              p.weather__info.weather__info--with-icon.controller__weather-info 
                span#weather-info-temperature +23
                span.weather__icon.controller__weather-icon#weather-info-icon
          
          p.controller__state#controller__state #{state}

      .controller__temperature-block
        .elementnav.controller__elementnav
          .elementnav__wrapper
            ul.elementnav__list.controller__places-list
              li.elementnav__item.elementnav__item--controller.controller__places-item
                button.button.button--active(data-value="custom") Вручную
              li.elementnav__item.elementnav__item--controller.controller__places-item
                button.button(data-value="0") Холодно
              li.elementnav__item.elementnav__item--controller.controller__places-item
                button.button(data-value="50") Тепло
              li.elementnav__item.elementnav__item--controller.controller__places-item.controller__only-desktop
                button.button(data-value="100") Жарко
        .input-range.controller__bar
          input.input-range__slider.input-range__slider--temp(type="range" id="switch-temp")

      .controller__sun-block
        .elementnav.controller__elementnav
          .elementnav__wrapper
            ul.elementnav__list.controller__places-list
              li.elementnav__item.elementnav__item--controller.controller__places-item 
                button.button.button--active(data-value="custom") Вручную
              li.elementnav__item.elementnav__item--controller.controller__places-item 
                button.button(data-value="50") Дневной свет
              li.elementnav__item.elementnav__item--controller.controller__places-item 
                button.button(data-value="100") Вечерний свет
              li.elementnav__item.elementnav__item--controller.controller__places-item.controller__only-desktop
                button.button(data-value="0") Рассвет
                
        .input-range.controller__bar
          input.input-range__slider.input-range__slider--light(type="range" id="switch-light")

      .controller__floor-block
        .termometr.controller__termometr
          .termometr__scale
            <svg width="221" height="221" viewBox="15 15 170 170">
              <defs>
                  <mask id="mask1">
                      <circle r="70" cx="100" cy="100" fill="none" stroke="white" stroke-width="30" stroke-dasharray="1 3" stroke-dashoffset="-154"></circle>    
                  </mask>
              </defs>

              <g mask="url(#mask1)">
                  <circle r="70" cx="100" cy="100" fill="none" stroke="#ccc" stroke-width="30" stroke-dashoffset="-154" stroke-dasharray="352 88"></circle>
                  <circle id="termometr-svg" r="70" cx="100" cy="100" fill="none" stroke="orange" stroke-width="50" stroke-dashoffset="-154" style="stroke-dasharray: 360, 90;"></circle>
              </g>
            </svg>
          .termometr__bg
          b.termometr__value +23
          .termometr__arrow


    .modal__block-btn
      button.button.button--active.modal__btn.modal__btn--active#modal-accept Применить
      button.button.modal__btn#modal-close Закрыть
