-var FLOOR = 'floor'
-var SUN = 'sun'
-var TEMP = 'temperature'

mixin modal(name, type, state)
  .modal__content#modal-content
    .controller.modal__line
      if (type === TEMP)
        .controller__line.controller__temp-info
          h1.controller__title #{name}
            span.weather.controller__weather.controller__only-desktop
              p.weather__info.weather__info--with-icon.controller__weather-info +23
                span.weather__icon.weather__icon--temp.controller__weather-icon
        
          p.controller__state #{state}

        ul.element-list.controller__places-list.element-list__places-panel
          li.element-list__item.element-list__places-panel-item 
            button.button.button--active Вручную
          li.element-list__item.element-list__places-panel-item 
            button.button Холодно
          li.element-list__item.element-list__places-panel-item 
            button.button Тепло
          li.element-list__item.element-list__places-panel-item.controller__only-desktop
            button.button Жарко
        .device-bar.device-bar--temp.controller__bar
          .device-bar__track(style="top: 95px")
      else if (type === SUN)
        .controller__line.controller__temp-info
          h1.controller__title #{name}

          span.weather.controller__weather.controller__only-desktop
            p.weather__info.weather__info--with-icon.controller__weather-info
              span.weather__icon.weather__icon--sun.controller__weather-icon

          p.controller__state #{state}

        ul.element-list.controller__places-list.element-list__places-panel 
          li.element-list__item.element-list__places-panel-item 
            button.button.button--active Вручную
          li.element-list__item.element-list__places-panel-item 
            button.button Дневной свет
          li.element-list__item.element-list__places-panel-item 
            button.button Вечерний свет
          li.element-list__item.element-list__places-panel-item.controller__only-desktop
            button.button Рассвет
            
        .device-bar.device-bar--light.controller__bar
          .device-bar__track(style="top: 105px")
      else
        .termometr.controller__termometr
          .termometr__scale
          .termometr__bg
          b.termometr__value +23
          .termometr__arrow

    .modal__block-btn
      button.button.button--active.modal__btn.modal__btn--active Применить
      button.button.modal__btn Закрыть