mixin picture(className, width, imgSrc, alt)
  picture(class='icon-picture '+className)
    source(srcset=`/img/${imgSrc}.svg`, type="image/svg+xml")
    img(width=''+width src=`/img/${imgSrc}@1x.png`, alt=''+alt, srcset=`/img/${imgSrc}@2x.png 2x`)