include mixins/picture
include mixins/featured-stuff

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="css/style.min.css")

  body.page
    div(style="display: none")
      include ../../build/img/symbols.svg

    header.header
      a(href="#")
        +picture('header__logo', 110, 'yandex_home', 'Яндекс Дом')

      .header__nav
        nav(class="main-nav main-nav--closed")
          ul.main-nav__list
            li.main-nav__list-item
              a(href="#") Сводка
            li.main-nav__list-item
              a(href="#") Устройства
            li.main-nav__list-item
              a(href="#") Сценарии

          button.main-nav__toggle
           +picture('main-nav__burger', 16, 'icon_list_m', 'burger menu')
           +picture('main-nav__cross', 16, 'icon_list_m', 'burger menu')

    section.general
      h1(class="general__greeting")
        | Привет, Геннадий!

      p.general__condition Двери и окна закрыты, сигнализация включена.

      .general__weather
        .general__weather-item.weather
          p.weather__place Дома
          p.weather__info +23

        .general__weather-item.weather
          p.weather__place За окном
          p.weather__info +19
            +picture('', 16, 'cloud-drizzle', 'Небольшие осадки')

      .general__next-scripts
        -var arrNextScripts = [['Philips Cooler', 'Начнет охлаждать в 16:30', 'icon_temperature'], ['Xiaomi Yeelight LED Smart Bulb', 'Включится в 17:00', 'icon_sun'], ['Philips Cooler', 'Начнет охлаждать в 16:30', 'icon_temperature'], ['Xiaomi Yeelight LED Smart Bulb', 'Включится в 17:00', 'icon_sun']]
        +featured-stuff(arrNextScripts)

    section.featured-stuff
      h2 Избранные сценарии

      -var arrScripts = [['Выключить весь свет в доме и во дворе'], ['Я ухожу'], ['Включить свет \u2028в коридоре'], ['Набрать горячую ванну', 'Начнётся в 18:00'], ['Сделать пол тёплым во всей квартире']]
      +featured-stuff(arrScripts)

    section.fatured-stuff
      h2 Избранные устройства

      ul
        li
          a(href="#") Все
        li
          a(href="#") Кухня
        li
          a(href="#") Зал
        li
          a(href="#") Лампочки
        li
          a(href="#") Камеры

      -var arrDevices = [['Xiaomi Yeelight LED Smart Bulb', 'Включено'], ['D-Link Omna 180 Cam', 'Включится в 17:00'], ['Elgato Eve Degree Connected', 'Выключено до 17:00'], ['LIFX Mini Day & Dusk A60 E27', 'Выключено до 17:00'], ['Xiaomi Mi Air Purifier 2S', 'Включено'], ['Philips Zhirui', 'Выключено'], ['Xiaomi Mi Air Purifier 2S', 'Включено']]
      +featured-stuff(arrDevices)
  
  script(src="js/script.js")