extends includes/main.pug

block scripts
  -var listCount = 0
  -listCount = Math.ceil(bigArrScripts.length / 9)
  -var indexList = 0
  while listCount !== 0
    -listCount-- 
    -indexList += 9
    -index = indexList-9
    ul.elementnav__list.scripts__list 
      while index < indexList
        if (bigArrScripts[index])
          li(class="featured-item elementnav__item scripts__item" tabindex="0")
            +item-list(bigArrScripts[index])
        -index++
